<!DOCTYPE html>
<html>
  <head>
    <title> Quick Quotes </title>
    <link rel = "stylesheet" type = "text/css" href = "../style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/aspneticons_v1.0_Nov2006/edit_16x16.gif">

  </head> 
  
  <body>
  <body background = "http://u.kanobu.ru/comments/images/92025b04-c980-46da-8859-66f64c997468.jpg">
    <h1 class = "text"> Quick Quotes </h1>
   
    <form action = "/results" method = "post">
    <select name="topics" class = "drop">
      <option selected="true" style="display:none;">Select topic</option>
      <option value="none"> none </option>
      <option value="Anger"> Anger </option>
      <option value="Art"> Art </option>
      <option value="Education"> Education</option>
      <option value="Failure"> Failure </option>
      <option value="Family"> Family  </option>
      <option value="Freedom"> Freedom  </option>
      <option value="Graduation"> Graduation </option>
      <option value="Happiness"> Happiness </option>
      <option value="Humor"> Humor </option>
      <option value="Leadership"> Leadership </option>
      <option value="Life"> Life </option>
      <option value="Motivational"> Motivational </option>
      <option value="Relationships"> Relationships </option>
      <option value="Sad"> Sad </option>
      <option value="Success"> Success  </option>
      <option value="Time"> Time </option>
      <option value="Wisdom"> Wisdom </option>
    </select>
    
    <select name="people" class = drop >
      <option selected="true" style="display:none;">Select author</option>
      <option value="none"> none </option>
      <option value="Lincoln"> Abraham Lincoln </option>
      <option value="Bachchan"> Aishwarya Ral Bachchan</option>
      <option value="McGuire">Al McGuire</option>
      <option value="Einstein">Albert Einstein</option>
      <option value="Milano">Alyssa</option>
      <option value="Frank"> Anne Frank</option>
      <option value="Hepburn"> Audrey Hepburn</option>
      <option value="Bush">Barbara Bush</option>
      <option value="Franklin">Benjamin Franklin</option>
      <option value="Keane">Bil Keane</option>
      <option value="Lewis">C.S. Lewis</option>
      <option value="Jung"> Carl Jung</option>
      <option value="Bukowski">Charles Bukowski</option>
      <option value="Larson">Doug Larson</option>
      <option value="O'Brien">Dylan O'Brien</option>
      <option value="Eminem">Eminem</option>
      <option value="Nietzsche">Friedrich Nietzsche</option>
      <option value="Trudeau">Garry Trudeau</option>
      <option value="Buddha">Gautama Buddha</option>
      <option value="Woodberry">George Edward Woodberry</option>
      <option value="Orwell">George Orwell</option>
      <option value="Carver">George Washington Carver</option>
      <option value="Meir">Golda Meir</option>
      <option value="Thoreau">Henry David Thoreau</option>
      <option value="Winkler">Henry Winkler</option>
      <option value="JFK">John F. Kennedy</option>
      <option value="Ritter">Jason Ritter</option>
      <option value="Carter">Jimmy Carter</option>
      <option value="Hodgman">John Hodgman</option>
      <option value="Gibran">Khalil</option>
      <option value="da Vinci">Leonardo da Vinci</option>
      <option value="Gandhi">Mahatma Gandhi</option>
      <option value="Twain">Mark Twain</option>
      <option value="Lafayette">Marquis de Lafayette</option>
      <option value="MLK">Martin Luther King Jr. </option>
      <option value="Angelou">Maya Angelou</option>
      <option value="Jackson">Michael Jackson</option>
      <option value="Jordan">Michael Jordan</option>
      <option value="Michaelangelo">Michaelangelo</option>
      <option value="Ali">Muhammad Ali</option>
      <option value="Mandela">Nelson Mandela</option>
      <option value="Picasso">Pablo Picasso</option>
      <option value="Plato">Plato</option>
      <option value="Reagan">Ronald Reagan</option>
      <option value="Covey">Stephen Covey</option>
      <option value="Hawking">Stephen Hawking</option>
      <option value="Jobs">Steve Jobs</option>
      <option value="Henson">Taraji Henson</option>
      <option value="Williams">Tennessee Williams</option>
      <option value="Edison">Thomas Edison</option>
      <option value="Jefferson">Thomas Jefferson</option>
      <option value="Burroughs">William Burroughs</option>



      </select>
  
    <input type="submit" value="Submit">
  </form>
    
  </body>
</html>