<!DOCTYPE html>
<html>
  <head>
    <title> Quick Quotes </title>
    <link rel = "stylesheet" type = "text/css" href = "../style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/aspneticons_v1.0_Nov2006/edit_16x16.gif">

  </head> 
  
  <body>
  <body background = "http://u.kanobu.ru/comments/images/92025b04-c980-46da-8859-66f64c997468.jpg">
    <h1 class = "text"> Quick Quotes </h1>
   
    <form action = "/results" method = "post">
    <select name="topics" class = "drop">
      <option selected="true" style="display:none;">Select topic</option>
      <option value="none"> none </option>
      <option value="anger"> Anger </option>
      <option value="art"> Art </option>
      <option value="education"> Education</option>
      <option value="failure"> Failure </option>
      <option value="family"> Family  </option>
      <option value="freedom"> Freedom  </option>
      <option value="graduation"> Graduation </option>
      <option value="happiness"> Happiness </option>
      <option value="humor"> Humor </option>
      <option value="leadership"> Leadership </option>
      <option value="life"> Life </option>
      <option value="motivational"> Motivational </option>
      <option value="relationships"> Relationships </option>
      <option value="sad"> Sad </option>
      <option value="success"> Success  </option>
      <option value="time"> Time </option>
      <option value="wisdom"> Wisdom </option>
    </select>
    
    <select name="people" class = drop >
      <option selected="true" style="display:none;">Select author</option>
      <option value="none">none</option>
      <option value="Lincoln">Abraham Lincoln</option>
      <option value="Aishwarya Ral Bachchan">Aishwarya Ral Bachchan</option>
      <option value="Al McGuire">Al McGuire</option>
      <option value="Albert Einstein">Albert Einstein</option>
      <option value="Alyssa Milano">Alyssa</option>
      <option value="Anne Frank">Anne Frank</option>
      <option value="Audrey Hepburn">Audrey Hepburn</option>
      <option value="Benjamin Franklin">Benjamin Franklin</option>
      <option value="Bil Keane">Bil Keane</option>
      <option value="C.S. Lewis">C.S. Lewis</option>
      <option value="Carl Jung">Carl Jung</option>
      <option value="Charles Bukowski">Charles Bukowski</option>
      <option value="Doug Larson">Doug Larson</option>
      <option value="Dylan O'Brien">Dylan O'Brien</option>
      <option value="Eminem">Eminem</option>
      <option value="Friedrich Nietzsche">Friedrich Nietzsche</option>
      <option value="Garry Trudeau">Garry Trudeau</option>
      <option value="Buddha">Gautama Buddha</option>
      <option value="George Edward Woodberry">George Edward Woodberry</option>
      <option value="George Orwell">George Orwell</option>
      <option value="George Washington Carver">George Washington Carver</option>
      <option value="Golda Meir">Golda Meir</option>
      <option value="Henry David Thoreau">Henry David Thoreau</option>
      <option value="Herny Winkler">Henry Winkler</option>
      <option value="John F. Kennedy">John F. Kennedy</option>
      <option value="Jason Ritter">Jason Ritter</option>
      <option value="Jimmy Carter">Jimmy Carter</option>
      <option value="John Hodgman">John Hodgman</option>
      <option value="Khalil Gibran">Khalil</option>
      <option value="Leonardo da Vinci">Leonardo da Vinci</option>
      <option value="Mahatma Gandhi">Mahatma Gandhi</option>
      <option value="Mark Twain">Mark Twain</option>
      <option value="Marquis de Lafayette">Marquis de Lafayette</option>
      <option value="Martin Luther King, Jr.">Martin Luther King Jr.</option>
      <option value="Maya Angelou">Maya Angelou</option>
      <option value="Michael Jackson">Michael Jackson</option>
      <option value="Michael Jordan">Michael Jordan</option>
      <option value="Michaelangelo">Michaelangelo</option>
      <option value="Muhammad Ali">Muhammad Ali</option>
      <option value="Nelso Mandela">Nelson Mandela</option>
      <option value="Pablo Picasso">Pablo Picasso</option>
      <option value="Plato">Plato</option>
      <option value="Ronald Reagan">Ronald Reagan</option>
      <option value="Stephen Covey">Stephen Covey</option>
      <option value="Stephen Hawking">Stephen Hawking</option>
      <option value="Steve Jobs">Steve Jobs</option>
      <option value="Taraji Henson">Taraji Henson</option>
      <option value="Tennessee Williams">Tennessee Williams</option>
      <option value="Thomas Edison">Thomas Edison</option>
      <option value="Thomas Jefferson">Thomas Jefferson</option>
      <option value="William Burroughs">William Burroughs</option>



      </select>
  
    <input type="submit" value="Submit">
  </form>
    
  </body>
</html>